#footer {
  background-color: #2e2f42;
}
#footer p {
  color: #f4f4fd;
  font-weight: 400;
}
.logo-footer{
  color: #F4F4FD;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.logo-footer span{
  color: #4D5AE5;
}