.logo-header {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.logo-header span {
  color: #4d5ae5;
}
.nav-list-item {
  font-weight: 500;
  color: #2e2f42;
}
.nav-list-item:hover,
.contacts-list-item:hover {
  color: #404bbf;
}
.nav-list-item:active {
  border-bottom: 4px solid #404bbf;
  border-top: 44px;
}
.contacts-list-item {
  font-weight: 400;
  color: #434455;
}
